# Docker y Datos
backend/import/*.*


# Python
backend/__pycache__/
backend/*.py[cod]
backend/.venv/
backend/.env


# Node/React
frontend/node_modules/
frontend/dist/
frontend/.eslintcache

# IDEs
frontend/.vscode/
frontend/.devcontainer/ (opcional: súbelo si quieres compartir tu config de VS Code)
backend/.vscode/
backend/.devcontainer/